/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
.img_fluid {
  height: auto;
  display: block;
  max-width: 100%;
}
.ico_svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}
.text_center {
  text-align: center !important;
}
.text_right {
  text-align: right !important;
}
.text_justify {
  text-align: justify !important;
}
.text_nowrap {
  white-space: nowrap !important;
}
.text_lowercase {
  text-transform: lowercase !important;
}
.text_uppercase {
  text-transform: uppercase !important;
}
.text_capitalize {
  text-transform: capitalize !important;
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-21by9::before {
  padding-top: 42.85714286%;
}
.embed-responsive-16by9::before {
  padding-top: 56.25%;
}
.embed-responsive-4by3::before {
  padding-top: 75%;
}
.embed-responsive-1by1::before {
  padding-top: 100%;
}
.btn {
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  padding: 15px 20px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #e3e3e3;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.btn:hover {
  color: #fff;
  background: #a7a7a7;
  text-decoration: none;
}
.btn:focus,
.btn.focus {
  outline: 0;
}
.btn_red {
  color: #fff;
  background: #a61919;
}
.btn_red:hover {
  color: #fff;
  background: #C32B24;
}
.btn_orange {
  background: #ff851c;
}
.btn_orange:hover {
  background: #ff6526;
}
.btn_sm {
  padding: 9px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.form_control {
  margin: 0;
  width: 100%;
  color: #444;
  height: 40px;
  outline: none;
  background: #fff;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 9px 15px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus,
.form_control:active {
  outline: none;
  border-color: #fff;
}
.form_control.error {
  border-color: #e2001a;
}
.form_group {
  margin-bottom: 5px;
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 2rem 0;
}
.breadcrumb > li {
  line-height: 2rem;
  display: inline-block;
  font-size: 1.5rem;
}
.breadcrumb > li:after {
  content: '>';
  padding: 0 5px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: #000;
  font-family: 'Fira Sans', Arial, sans-serif;
  background-color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.2;
}
h1,
.h1 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  font-family: 'Fira Sans', Arial, sans-serif;
}
h2,
.h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: 'Fira Sans', Arial, sans-serif;
}
h3,
.h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-family: 'Fira Sans', Arial, sans-serif;
}
h4,
.h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'Fira Sans', Arial, sans-serif;
}
h5,
.h5 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  font-family: 'Fira Sans', Arial, sans-serif;
}
h6,
.h6 {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  font-family: 'Fira Sans', Arial, sans-serif;
}
p {
  margin: 0 0 1rem 0;
}
a {
  outline: none;
  color: #3552b1;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #233776;
  text-decoration: underline;
}
.header {
  z-index: 1010;
  position: relative;
  background: #c61919;
}
.header:after {
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  content: '';
  width: 200px;
  display: block;
  position: absolute;
  background: url("../img/header__bg_left.png") 0 0 no-repeat;
}
.header:before {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  content: '';
  width: 177px;
  display: block;
  position: absolute;
  background: url("../img/header__bg_right.png") 100% 0 no-repeat;
}
.header__row {
  z-index: 10;
  height: 95px;
  padding-left: 15px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.header__nav {
  width: 45px;
  height: 45px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  position: relative;
  background: #e01c1c;
  display: inline-block;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}
.header__nav:after,
.header__nav:before {
  z-index: 1;
  left: 50%;
  content: '';
  height: 2px;
  width: 23px;
  background: #fff;
  margin-left: -12px;
  position: absolute;
}
.header__nav:after {
  top: 15px;
}
.header__nav:before {
  bottom: 14px;
}
.header__nav span {
  z-index: 1;
  top: 22px;
  left: 50%;
  height: 2px;
  width: 23px;
  background: #fff;
  margin-left: -12px;
  position: absolute;
}
.header__logo {
  width: 229px;
  font-size: 0;
  line-height: 0;
  display: block;
  margin-left: 22px;
}
.nav {
  top: 0;
  right: 0;
  width: 240px;
  height: 100vh;
  z-index: 1300;
  display: block;
  position: fixed;
  margin-right: -290px;
  background: #c61919;
  -webkit-box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav__menu {
  margin: 0;
  padding: 30px 0;
  list-style: none;
}
.nav__menu > li:last-child {
  border-bottom: none;
}
.nav__menu > li a {
  z-index: 10;
  color: #fff;
  height: 44px;
  padding: 5px 20px;
  position: relative;
  text-decoration: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.nav__menu > li a i {
  font-size: 16px;
  line-height: 16px;
  margin-right: 12px;
  display: inline-block;
}
.nav__menu > li a span {
  display: inline-block;
}
.nav_overlay {
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  opacity: 0;
  z-index: 1250;
  position: fixed;
  visibility: hidden;
  background: #000;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.page.open .nav {
  margin-right: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.page.open .nav_overlay {
  opacity: 0.5;
  visibility: visible;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.footer {
  color: #fff;
  padding-top: 25px;
  padding-bottom: 50px;
  background: #c61919 url("../img/footer__bg.png") 0 100% repeat-x;
}
.footer__logo {
  width: 229px;
  font-size: 0;
  line-height: 0;
  display: block;
  margin-bottom: 25px;
}
.footer__nav {
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
  line-height: 1.9rem;
  margin: 0 0 20px 0;
}
.footer__nav > li {
  position: relative;
}
.footer__nav > li a {
  z-index: 10;
  color: #fff;
  height: 40px;
  position: relative;
  text-decoration: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.footer__nav > li a span {
  display: inline-block;
}
.footer__nav > li a b {
  color: #fff;
  width: 32px;
  height: 32px;
  padding: 7px 0;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  background: #cf1818;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.footer__nav_add:before {
  top: 0;
  bottom: 0;
  z-index: 1;
  content: '';
  left: -1000px;
  right: -1000px;
  display: block;
  position: absolute;
  background: #a51010;
}
.footer__social {
  padding: 0;
  font-size: 0;
  line-height: 0;
  margin: 0 -15px;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.footer__social li {
  padding: 0 5px;
  display: block;
}
.footer__social li a {
  width: 29px;
  height: 29px;
  display: block;
  overflow: hidden;
  text-decoration: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.page {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main {
  padding: 20px 0;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.search {
  z-index: 200;
  position: relative;
  background: #fdd75b;
}
.search__row {
  height: 42px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.search__form {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.search__input {
  margin: 0;
  width: 100%;
  color: #fff;
  height: 42px;
  outline: none;
  font-size: 1.9rem;
  line-height: 2rem;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px 10px 25px;
  border: 1px solid transparent;
  background: transparent url("../img/icon__search.png") 0 50% no-repeat;
}
.search__input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.search__input:-ms-input-placeholder {
  color: #fff;
}
.search__input::-webkit-input-placeholder {
  color: #fff;
}
.search__input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.search__input:focus,
.search__input:active {
  outline: none;
  border-color: transparent;
}
.search__input:focus::-moz-placeholder,
.search__input:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.search__input:focus:-ms-input-placeholder,
.search__input:active:-ms-input-placeholder {
  color: transparent;
}
.search__input:focus::-webkit-input-placeholder,
.search__input:active::-webkit-input-placeholder {
  color: transparent;
}
.search__toggle {
  color: #fff;
  width: 42px;
  height: 42px;
  padding: 9px 0;
  display: block;
  cursor: pointer;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.search__toggle.open {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.search__content {
  display: block;
  z-index: 200;
  padding: 15px 0;
  background: #fb1919;
}
.search__content_title {
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 10px;
}
.search__content .btn {
  width: 100%;
}
.search__content_row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.search__col {
  width: 50%;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}
.search__col:first-child .form_control {
  border-right: 1px solid #ccc;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.search__col:last-child .form_control {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.section {
  position: relative;
}
.section__header {
  z-index: 10;
  color: #fff;
  font-size: 0;
  line-height: 0;
  position: relative;
  background: #c61919;
  -webkit-box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.4);
}
.section__header_row {
  height: 76px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.section__header_title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  display: inline-block;
}
.section__header_arrow {
  color: #fff;
  width: 36px;
  height: 36px;
  padding: 5px 0 7px 0;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  background: #d91f1f;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.section.close .section__header_arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.place {
  background: #fff;
}
.place__item {
  height: 89px;
  color: #131313;
  font-size: 1.7rem;
  line-height: 2.3rem;
  position: relative;
  text-decoration: none;
  padding: 10px 0 10px 66px;
  border-bottom: 1px solid #e8e8e8;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.place__item:hover {
  color: #131313;
  text-decoration: none;
}
.place__item_flag {
  left: 0;
  top: 50%;
  width: 50px;
  height: 50px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  margin-top: -25px;
  position: absolute;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
}
.place__item_content {
  display: block;
  padding-right: 20px;
}
.place__item_name {
  display: block;
  font-size: 2rem;
  font-weight: 700;
}
.place__item_info {
  display: block;
}
.place__item_arrow {
  color: #e8e8e8;
  font-size: 20px;
  line-height: 20px;
  padding-right: 10px;
  display: inline-block;
}
.map {
  height: 420px;
  background: #ccc;
}
.offer {
  padding: 50px 0 40px 0;
}
.offer__title {
  color: #1b1b1b;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  margin-bottom: 15px;
}
.offer__list {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 1.9rem;
  line-height: 2.6rem;
  list-style: none;
}
.offer__list_wrap {
  display: block;
  margin: auto 0;
}
.offer__list > li {
  height: 105px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding: 10px 10px 10px 100px;
  border-bottom: 1px solid #f5f5f5;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.offer__list > li:nth-child(1) {
  background-image: url("../img/offer__01.png");
}
.offer__list > li:nth-child(2) {
  background-image: url("../img/offer__02.png");
}
.offer__list > li:nth-child(3) {
  background-image: url("../img/offer__03.png");
}
.offer__list > li:nth-child(4) {
  background-image: url("../img/offer__04.png");
}
.offer__list > li:nth-child(5) {
  border-bottom: none;
  background-image: url("../img/offer__05.png");
}
.comments {
  color: #fff;
  padding: 40px 0;
  font-size: 1.6rem;
  line-height: 2rem;
  background: #c61919;
}
.comments__title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  margin-bottom: 25px;
}
.comments__item {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}
.comments__item:last-child {
  border-bottom: none;
}
.comments__item_header {
  padding-bottom: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.comments__item_author {
  font-size: 2rem;
  line-height: 2.2rem;
}
.comments__item_author strong {
  font-weight: 400;
}
.comments__item_rate {
  color: #fbcf00;
}
.comments__item_content {
  position: relative;
  padding: 15px 15px 15px 35px;
  border-top: 1px solid #be1818;
}
.comments__item_plus {
  left: 0;
  top: 13px;
  color: #fff;
  width: 22px;
  height: 22px;
  padding: 4px 0 4px 0;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  position: absolute;
  background: #1dcf1d;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.comments__item_minus {
  left: 0;
  top: 13px;
  color: #fff;
  width: 22px;
  height: 22px;
  padding: 4px 0 4px 0;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  position: absolute;
  background: #1b1b1b;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.comments .btn_red {
  width: 100%;
}
.reviews {
  color: #1b1b1b;
  background: #fff;
  padding-top: 40px;
  padding-bottom: 50px;
}
.reviews__title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  margin-bottom: 25px;
}
.reviews__more {
  padding-top: 25px;
}
.reviews .btn {
  width: 100%;
}
.review {
  font-size: 1.6rem;
  line-height: 2rem;
}
.review__image {
  margin-bottom: 20px;
}
.review__heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.2rem;
  margin-bottom: 15px;
}
.review__info {
  margin-bottom: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.review__info_author {
  font-size: 2rem;
  line-height: 2.2rem;
}
.review__info_author strong {
  font-weight: 700;
}
.review__info_author span {
  color: #a2a2a2;
}
.review__info_rate {
  color: #fbcf00;
}
.review__content {
  color: #8c8c8c;
  position: relative;
  padding: 15px 15px 15px 35px;
  border-top: 1px solid #f5f5f5;
}
.review__content_plus {
  left: 0;
  top: 13px;
  color: #fff;
  width: 22px;
  height: 22px;
  padding: 4px 0 4px 0;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  position: absolute;
  background: #1dcf1d;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.review__content_minus {
  left: 0;
  top: 13px;
  color: #fff;
  width: 22px;
  height: 22px;
  padding: 4px 0 4px 0;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  position: absolute;
  background: #1b1b1b;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.tags {
  font-size: 0;
  line-height: 0;
  margin: 0 -5px 28px -5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.tags__item {
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  padding: 5px 10px;
  background: #d7d7d7;
  margin: 0 5px 10px 5px;
  display: inline-block;
  text-decoration: none;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.tags__item:hover {
  color: #fff;
  text-decoration: none;
}
.tags__item.active {
  background: #c61919;
}
.goods_row {
  margin: 0 -10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.goods_col {
  width: 100%;
  padding: 0 10px 20px 10px;
}
@media (min-width: 768px) {
  .goods_col {
    width: 50%;
  }
}
.goods {
  width: 100%;
  padding: 17px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 18px 0px rgba(50, 50, 50, 0.13);
  -moz-box-shadow: 0px 5px 18px 0px rgba(50, 50, 50, 0.13);
  box-shadow: 0px 5px 18px 0px rgba(50, 50, 50, 0.13);
}
.goods__image {
  display: block;
  margin-bottom: 10px;
}
.goods__title {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2rem;
  margin-bottom: 5px;
}
.goods__title a {
  color: #1b1b1b;
  text-decoration: none;
}
.goods__title a:hover {
  color: #1b1b1b;
  text-decoration: none;
}
.goods__meta {
  margin: 0 -4px;
  font-size: 1.5rem;
  line-height: 1.7rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.goods__meta_left {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.goods__meta_right {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.goods__meta a {
  color: #b5b5b5;
  padding: 0 4px;
  display: inline-block;
  text-decoration: none;
}
.goods__meta a:hover {
  color: #b5b5b5;
  text-decoration: none;
}
.goods__meta span {
  display: inline-block;
}
.goods__info {
  color: #b5b5b5;
  padding: 10px 0;
  font-size: 1.6rem;
  line-height: 2.2rem;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}
.goods__info strong {
  color: #1b1b1b;
  font-weight: 400;
}
.goods__info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.goods__info ul li {
  margin-bottom: 5px;
}
.goods__info ul li:last-child {
  margin-bottom: 0;
}
.goods__footer {
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding-top: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.goods__footer_price {
  color: #1b1b1b;
}
.goods__footer_price strong {
  color: #c61919;
  font-weight: 400;
}
.goods__footer_link {
  font-size: 1.5rem;
}
.goods__footer_link a {
  color: #b5b5b5;
  text-decoration: underline;
}
.goods__footer_link a:hover {
  color: #b5b5b5;
  text-decoration: underline;
}
.goods_map {
  padding-top: 30px;
}
.goods_map__title {
  color: #1b1b1b;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 30px;
}
.goods_map__content {
  height: 478px;
  margin: 0 -15px;
}
.cat_add {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 40px;
}
.cat_add__title {
  color: #1b1b1b;
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 20px;
}
