.page {
	width: 100%;
	max-width: 100%;
	min-height: 100%;
	overflow: hidden;
	.flex-display();
	.flex-direction(column);
}

.main {
	padding: 20px 0;
	.flex-grow(1);
}


.search {
	z-index: 200;
	position: relative;
	background: #fdd75b;

	&__row {
		height: 42px;
		.flex-display();
		.align-items(center);
		.justify-content(space-between);
	}

	&__form {
		.flex-grow(1);
	}

	&__input {
		margin: 0;
		width: 100%;
		color: #fff;
		height: 42px;
		outline: none;
		font-size: 1.9rem;
		line-height: 2rem;
		display: inline-block;
		vertical-align: middle;
		padding: 10px 15px 10px 25px;
		border: 1px solid transparent;
		background: transparent url("../img/icon__search.png") 0 50% no-repeat;
		.placeholder(#fff);

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:focus,
		&:active {
			outline: none;
			border-color: transparent;
			.placeholder(transparent);
		}
	}

	&__toggle {
		color: #fff;
		width: 42px;
		height: 42px;
		padding: 9px 0;
		display: block;
		cursor: pointer;
		font-size: 24px;
		line-height: 24px;
		text-align: center;
		.flex-shrink(0);
		.transition(.3s);

		&.open {
			.rotate(180deg);
			.transition(.3s);
		}
	}

	&__content {
	//	left: 0;
	//	right: 0;
	//	top: 100%;
		display: block;
		z-index: 200;
		padding: 15px 0;
	//	position: absolute;
		background: #fb1919;

		&_title {
			color: #fff;
			font-weight: 500;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: center;
			margin-bottom: 10px;
		}

		.btn {
			width: 100%;
		}

		&_row {
			.flex-display();
		}
	}

	&__col {
		width: 50%;
		.flex-shrink(0);

		&:first-child {

			.form_control {
				border-right: 1px solid #ccc;
				.border-radius(3px 0 0 3px);
			}
		}

		&:last-child {

			.form_control {
				.border-radius(0 3px 3px 0);
			}
		}
	}
}

.section {
	position: relative;

	&__header {
		z-index: 10;
		color: #fff;
		font-size: 0;
		line-height: 0;
		position: relative;
		background: #c61919;
		.box-shadow(0px 7px 24px 0px rgba(0, 0, 0, 0.40));

		&_row {
			height: 76px;
			.flex-display();
			.align-items(center);
			.justify-content(space-between);
		}

		&_title {
			font-size: 2.4rem;
			font-weight: 700;
			line-height: 2.6rem;
			display: inline-block;
		}

		&_arrow {
			color: #fff;
			width: 36px;
			height: 36px;
			padding: 5px 0 7px 0;
			font-size: 24px;
			line-height: 24px;
			text-align: center;
			background: #d91f1f;
			.border-radius(50%);
			.transition(.3s);
		}
	}

	&.close {

		.section__header_arrow {
			.rotate(180deg);
			.transition(.3s);
		}
	}
}

.place {
	background: #fff;

	&__item {
		height: 89px;
		color: #131313;
		font-size: 1.7rem;
		line-height: 2.3rem;
		position: relative;
		text-decoration: none;
		padding: 10px 0 10px 66px;
		border-bottom: 1px solid #e8e8e8;
		.flex-display();
		.align-items(center);
		.justify-content(space-between);

		&:hover {
			color: #131313;
			text-decoration: none;
		}

		&_flag {
			left: 0;
			top: 50%;
			width: 50px;
			height: 50px;
			font-size: 0;
			line-height: 0;
			overflow: hidden;
			margin-top: -25px;
			position: absolute;
			display: inline-block;
			.border-radius(50%);
			.box-shadow( 0px 0px 24px 0px rgba(0, 0, 0, 0.1));
		}

		&_content {
			display: block;
			padding-right: 20px;
		}

		&_name {
			display: block;
			font-size: 2rem;
			font-weight: 700;
		}

		&_info {
			display: block;
		}

		&_arrow {
			color: #e8e8e8;
			font-size: 20px;
			line-height: 20px;
			padding-right: 10px;
			display: inline-block;
		}
	}
}

.map {
	height: 420px;
	background: #ccc;
}

.offer {
	padding: 50px 0 40px 0;

	&__title {
		color: #1b1b1b;
		font-size: 2.4rem;
		font-weight: 700;
		line-height: 2.8rem;
		margin-bottom: 15px;
	}

	&__list {
		margin: 0;
		padding: 0;
		font-weight: 500;
		font-size: 1.9rem;
		line-height: 2.6rem;
		list-style: none;

		&_wrap {
			display: block;
			margin: auto 0;
		}

		> li {
			height: 105px;
			background-position: 0 50%;
			background-repeat: no-repeat;
			padding: 10px 10px 10px 100px;
			border-bottom: 1px solid #f5f5f5;
			.flex-display();
			.flex-direction(column);


			&:nth-child(1) {
				background-image: url("../img/offer__01.png");
			}

			&:nth-child(2) {
				background-image: url("../img/offer__02.png");
			}

			&:nth-child(3) {
				background-image: url("../img/offer__03.png");
			}

			&:nth-child(4) {
				background-image: url("../img/offer__04.png");
			}

			&:nth-child(5) {
				border-bottom: none;
				background-image: url("../img/offer__05.png");
			}
		}
	}
}

.comments {
	color: #fff;
	padding: 40px 0;
	font-size: 1.6rem;
	line-height: 2rem;
	background: #c61919;

	&__title {
		font-size: 2.4rem;
		font-weight: 700;
		line-height: 2.8rem;
		margin-bottom: 25px;
	}


	&__item {
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: 1px solid #fff;

		&:last-child {
			border-bottom: none;
		}

		&_header {
			padding-bottom: 10px;
			.flex-display();
			.align-items(center);
			.justify-content(space-between);
		}

		&_author {
			font-size: 2rem;
			line-height: 2.2rem;

			strong {
				font-weight: 400;
			}
		}

		&_rate {
			color: #fbcf00;
		}

		&_content {
			position: relative;
			padding: 15px 15px 15px 35px;
			border-top: 1px solid #be1818;
		}

		&_plus {
			left: 0;
			top: 13px;
			color: #fff;
			width: 22px;
			height: 22px;
			padding: 4px 0 4px 0;
			font-size: 14px;
			line-height: 14px;
			text-align: center;
			position: absolute;
			background: #1dcf1d;
			display: inline-block;
			.border-radius(50%);
		}

		&_minus {
			left: 0;
			top: 13px;
			color: #fff;
			width: 22px;
			height: 22px;
			padding: 4px 0 4px 0;
			font-size: 14px;
			line-height: 14px;
			text-align: center;
			position: absolute;
			background: #1b1b1b;
			display: inline-block;
			.border-radius(50%);
		}
	}

	.btn_red {
		width: 100%;
	}
}

.reviews {
	color: #1b1b1b;
	background: #fff;
	padding-top: 40px;
	padding-bottom: 50px;

	&__title {
		font-size: 2.4rem;
		font-weight: 700;
		line-height: 2.8rem;
		margin-bottom: 25px;
	}

	&__more {
		padding-top: 25px;
	}

	.btn {
		width: 100%;
	}
}

.review {
	font-size: 1.6rem;
	line-height: 2rem;

	&__image {
		margin-bottom: 20px;
	}

	&__heading {
		font-size: 2rem;
		font-weight: 700;
		line-height: 2.2rem;
		margin-bottom: 15px;
	}

	&__info {
		margin-bottom: 10px;
		.flex-display();
		.align-items(center);
		.justify-content(space-between);


		&_author {
			font-size: 2rem;
			line-height: 2.2rem;

			strong {
				font-weight: 700;
			}

			span {
				color: #a2a2a2;
			}
		}

		&_rate {
			color: #fbcf00;
		}
	}

	&__content {
		color: #8c8c8c;
		position: relative;
		padding: 15px 15px 15px 35px;
		border-top: 1px solid #f5f5f5;


		&_plus {
			left: 0;
			top: 13px;
			color: #fff;
			width: 22px;
			height: 22px;
			padding: 4px 0 4px 0;
			font-size: 14px;
			line-height: 14px;
			text-align: center;
			position: absolute;
			background: #1dcf1d;
			display: inline-block;
			.border-radius(50%);
		}

		&_minus {
			left: 0;
			top: 13px;
			color: #fff;
			width: 22px;
			height: 22px;
			padding: 4px 0 4px 0;
			font-size: 14px;
			line-height: 14px;
			text-align: center;
			position: absolute;
			background: #1b1b1b;
			display: inline-block;
			.border-radius(50%);
		}
	}
}