.footer {
	color: #fff;
	padding-top: 25px;
	padding-bottom: 50px;
	background: #c61919 url("../img/footer__bg.png") 0 100% repeat-x;

	&__logo {
		width: 229px;
		font-size: 0;
		line-height: 0;
		display: block;
		margin-bottom: 25px;
	}

	&__nav {
		padding: 0;
		list-style: none;
		font-size: 1.5rem;
		line-height: 1.9rem;
		margin: 0 0 20px 0;

		> li {
			position: relative;

			a {
				z-index: 10;
				color: #fff;
				height: 40px;
				position: relative;
				text-decoration: none;
				.flex-display();
				.align-items(center);
				.justify-content(space-between);

				span {
					display: inline-block;
				}

				b {
					color: #fff;
					width: 32px;
					height: 32px;
					padding: 7px 0;
					font-size: 18px;
					line-height: 18px;
					text-align: center;
					background: #cf1818;
					display: inline-block;
					.border-radius(50%);
				}
			}
		}

		&_add {

			&:before {
				top: 0;
				bottom: 0;
				z-index: 1;
				content: '';
				left: -1000px;
				right: -1000px;
				display: block;
				position: absolute;
				background: #a51010;
			}
		}
	}

	&__social {
		padding: 0;
		font-size: 0;
		line-height: 0;
		margin: 0 -15px;
		list-style: none;

		.flex-display();
		.align-items(center);

		li {
			padding: 0 5px;
			display: block;

			a {
				width: 29px;
				height: 29px;
				display: block;
				overflow: hidden;
				text-decoration: none;
				.border-radius(50%);
			}
		}
	}
}