.tags {
	font-size: 0;
	line-height: 0;
	margin: 0 -5px 28px -5px;
	.flex-display();
	.align-items(center);
	.flex-wrap(wrap);
	.justify-content(space-between);

	&__item {
		color: #fff;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
		padding: 5px 10px;
		background: #d7d7d7;
		margin: 0 5px 10px 5px;
		display: inline-block;
		text-decoration: none;
		.flex-grow(1);

		&:hover {
			color: #fff;
			text-decoration: none;
		}

		&.active {
			background: #c61919;
		}
	}
}

.goods_row {
	margin: 0 -10px;
	.flex-display();
	.flex-wrap(wrap);
}

.goods_col {
	width: 100%;
	padding: 0 10px 20px 10px;

	@media (min-width: @screen-md-min) {
		width: 50%;
	}
}

.goods {
	width: 100%;
	padding: 17px;
	background: #fff;
	.box-shadow(0px 5px 18px 0px rgba(50, 50, 50, 0.13));

	&__image {
		display: block;
		margin-bottom: 10px;
	}

	&__title {
		font-weight: 500;
		font-size: 1.7rem;
		line-height: 2rem;
		margin-bottom: 5px;

		a {
			color: #1b1b1b;
			text-decoration: none;

			&:hover {
				color: #1b1b1b;
				text-decoration: none;
			}
		}
	}

	&__meta {
		margin: 0 -4px;
		font-size: 1.5rem;
		line-height: 1.7rem;
		.flex-display();
		.align-items(center);
		.justify-content(space-between);

		&_left {
			.flex-display();
			.align-items(center);
		}

		&_right {
			.flex-display();
			.align-items(center);
		}

		a {
			color: #b5b5b5;
			padding: 0 4px;
			display: inline-block;
			text-decoration: none;

			&:hover {
				color: #b5b5b5;
				text-decoration: none;
			}
		}

		span {
			display: inline-block;
		}
	}

	&__info {
		color: #b5b5b5;
		padding: 10px 0;
		font-size: 1.6rem;
		line-height: 2.2rem;
		border-top: 1px solid #f5f5f5;
		border-bottom: 1px solid #f5f5f5;

		strong {
			color: #1b1b1b;
			font-weight: 400;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 5px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&__footer {
		font-size: 1.6rem;
		line-height: 2.2rem;
		padding-top: 10px;
		.flex-display();
		.align-items(center);
		.justify-content(space-between);

		&_price {
			color: #1b1b1b;

			strong {
				color: #c61919;
				font-weight: 400;
			}
		}

		&_link {
			font-size: 1.5rem;

			a {
				color: #b5b5b5;
				text-decoration: underline;

				&:hover {
					color: #b5b5b5;
					text-decoration: underline;
				}
			}
		}
	}
}

.goods_map {
	padding-top: 30px;

	&__title {
		color: #1b1b1b;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2rem;
		margin-bottom: 30px;
	}

	&__content {
		height: 478px;
		margin: 0 -15px;
	}
}

.cat_add {
	padding-top: 30px;
	text-align: center;
	padding-bottom: 40px;

	&__title {
		color: #1b1b1b;
		font-weight: 700;
		font-size: 2.7rem;
		line-height: 3rem;
		text-align: center;
		margin-bottom: 20px;
	}
}