.header {
	z-index: 1010;
	position: relative;
	background: #c61919;

	&:after {
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		width: 200px;
		display: block;
		position: absolute;
		background: url("../img/header__bg_left.png") 0 0 no-repeat;
	}

	&:before {
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		width: 177px;
		display: block;
		position: absolute;
		background: url("../img/header__bg_right.png") 100% 0 no-repeat;
	}

	&__row {
		z-index: 10;
		height: 95px;
		padding-left: 15px;
		position: relative;
		.flex-display();
		.align-items(center);
	}

	&__nav {
		width: 45px;
		height: 45px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: relative;
		background: #e01c1c;
		display: inline-block;
		border: 1px solid #fff;
		.border-radius(50%);
		.box-shadow(0px 4px 10px 0px rgba(0, 0, 0, 0.3));

		&:after,
		&:before {
			z-index: 1;
			left: 50%;
			content: '';
			height: 2px;
			width: 23px;
			background: #fff;
			margin-left: -12px;
			position: absolute;
		}

		&:after {
			top: 15px;
		}

		&:before {
			bottom: 14px;
		}

		span {
			z-index: 1;
			top: 22px;
			left: 50%;
			height: 2px;
			width: 23px;
			background: #fff;
			margin-left: -12px;
			position: absolute;
		}
	}

	&__logo {
		width: 229px;
		font-size: 0;
		line-height: 0;
		display: block;
		margin-left: 22px;
	}
}


.nav {
	top: 0;
	right: 0;
	width: 240px;
	height: 100vh;
	z-index: 1300;
	display: block;
	position: fixed;
	margin-right: -290px;
	background: #c61919;
	.box-shadow(0px 7px 24px 0px rgba(0, 0, 0, 0.4));
	.transition(.3s);

	&__menu {
		margin: 0;
		padding: 30px 0;
		list-style: none;

		> li {
	//		border-bottom: 1px solid #9d1717;

			&:last-child {
				border-bottom: none;
			}

			a {
				z-index: 10;
				color: #fff;
				height: 44px;
				padding: 5px 20px;
				position: relative;
				text-decoration: none;
				.flex-display();
				.align-items(center);

				i {
					font-size: 16px;
					line-height: 16px;
					margin-right: 12px;
					display: inline-block;
				}

				span {
					display: inline-block;
				}
			}
		}
	}
}

.nav_overlay {
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	opacity: 0;
	z-index: 1250;
	position: fixed;
	visibility: hidden;
	background: #000;
	.transition(.3s);
}

.page {

	&.open {

		.nav {
			margin-right: 0;
			.transition(.3s);
		}

		.nav_overlay {
			opacity: 0.5;
			visibility: visible;
			.transition(.3s);
		}
	}
}