* {
	.box-sizing(border-box);

	&:before,
	&:after {
		.box-sizing(border-box);
	}
}

body {
	color: @color-text;
	font-family: @font-family-base;
	background-color: @body-bg;
	font-size: @font-size-base;
	line-height: @line-height-base;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left:  (@gutter);
	padding-right: (@gutter);
	.clearfix;

	@media (min-width: @screen-sm-min) {

	}

	@media (min-width: @screen-md-min) {

	}

	@media (min-width: @screen-lg-min) {
		width: @container-lg;
	}

	@media (min-width: @screen-xl-min) {
		width: @container-xl;
	}
}



// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1.2;
}

h1, .h1 {
	font-size: 3.2rem;
	margin-bottom: 2rem;
	font-family: @font-family-head;
}

h2, .h2 {
	font-size: 	3rem;
	margin-bottom: 2rem;
	font-family: @font-family-head;
}

h3, .h3 {
	font-size: 2.4rem;
	margin-bottom: 2rem;
	font-family: @font-family-head;
}

h4, .h4 {
	font-size: 2rem;
	margin-bottom: 2rem;
	font-family: @font-family-head;
}

h5, .h5 {
	font-size: 1.6rem;
	margin-bottom: 1.6rem;
	font-family: @font-family-head;
}

h6, .h6 {
	font-size: 1.4rem;
	margin-bottom: 1.4rem;
	font-family: @font-family-head;
}

p {
	margin: 0 0 1rem 0;
}

// Links

a {
	outline: none;
	color: @link-color;
	text-decoration: @link-decoration;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;

	&:hover {
		color: @link-hover-color;
		text-decoration: @link-hover-decoration;
	}
}