// Color system

@color-white:               #fff;
@color-black:               #000;
@color-gray:                #212529;


@color-blue:                #3552b1;
@color-green:               #11562d;
@color-violet:              #551d4e;


@color-text:                @color-black;

@color-base:                @color-black;



// Fonts

@font-family-base:          'Fira Sans', Arial, sans-serif;
@font-family-head:          'Fira Sans', Arial, sans-serif;

@font-size-reset:           10px;

@font-size-base:            1.5rem;
@font-size-lg:              (@font-size-base * 1.25);
@font-size-sm:              (@font-size-base * .875);

@font-weight-light:         300;
@font-weight-normal:        400;
@font-weight-bold:          700;

@font-weight-base:          @font-weight-normal;
@line-height-base:          1.5;




// Links

@link-color:                @color-blue;
@link-decoration:           none;
@link-hover-color:          darken(@link-color, 15%);
@link-hover-decoration:     underline;


// Page

@body-bg:                   @color-white;
@body-color:                @color-gray;


// Grid
@grid-columns: 12; // Set number of columns in the grid


@screen-xs-min:                 0;
@screen-sm-min:                 576px;
@screen-md-min:                 768px;
@screen-lg-min:                 992px;
@screen-xl-min:                 1200px;


@screen-xs-max:              (@screen-sm-min - 0.1);
@screen-sm-max:              (@screen-md-min - 0.1);
@screen-md-max:              (@screen-lg-min - 0.1);
@screen-lg-max:              (@screen-xl-min - 0.1);


@container-sm:               530px;
@container-md:               720px;
@container-lg:               970px;
@container-xl:               1170px;


@gutter: 1.5rem; // Set gutter size