.breadcrumb {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 0 2rem 0;

	> li {
		line-height: 2rem;
		display: inline-block;
		font-size: @font-size-base;

		&:after {
			content: '>';
			padding: 0 5px;
		}

		> a {

		}
	}
}