.btn {
	border: none;
	outline: none;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	padding: 15px 20px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #e3e3e3;
	display: inline-block;
	vertical-align: middle;
	.transition(.2s);

	&:hover {
		color: #fff;
		background: #a7a7a7;
		text-decoration: none;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_red {
	color: #fff;
	background: #a61919;

	&:hover {
		color: #fff;
		background: #C32B24;
	}
}

.btn_orange {
	background: #ff851c;

	&:hover {
		background: #ff6526;
	}
}

.btn_sm {
	padding: 9px 20px;
	.border-radius(3px);
}