.form_control {
	margin: 0;
	width: 100%;
	color: #444;
	height: 40px;
	outline: none;
	background: #fff;
	font-size: 1.6rem;
	line-height: 2rem;
	padding: 9px 15px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #fff;
	.border-radius(3px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
		border-color: #fff;
	}

	&.error {
		border-color: #e2001a;
	}
}

.form_group {
	margin-bottom: 5px;
}

